#intro {
  height: 100vh;
  animation: gradient 14s ease-in-out infinite;
}
#intro #typo_1 {
  position: absolute;
  width: 100%;
  top: 37vh;
  z-index: 1000;
  opacity: 0;
  animation: typo_1 1000ms ease;
  animation-fill-mode: forwards;
  pointer-events: none;
  box-sizing: border-box;
}
#intro #typo_1 h1 {
  line-height: 9rem;
  color: white;
  font-size: 9.1rem;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  transition: 300ms ease;
}
#intro #typo_1 h2 {
  color: rgb(55, 255, 180);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.2vw;
  animation: typo_1_1 900ms 800ms;
  animation-fill-mode: backwards;
  mix-blend-mode: difference;
  transition: 300ms ease;
  margin-top: 20px;
}
@keyframes typo_1 {
  0% {
    top: 50vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes typo_1_1 {
  0% {
    letter-spacing: 1vw;
    opacity: 0;
  }
}
@media (max-width: 1360px) {
  #typo_1 h1 {
    line-height: 9.4vw !important;
    font-size: 10.4vw !important;
  }
  #typo_1 h2 {
    font-size: 2.6vw !important;
  }
}
@media (max-width: 450px) {
  #typo_1 h1 {
    padding: 0 10px !important;
    text-align: center !important;
    white-space: normal !important;
    line-height: 3.4rem !important;
    font-size: 3.8rem !important;
  }
  #typo_1 h2 {
    font-size: 2.6vw !important;
  }
}